{{- $timeFormat := "2006-01-02T15:04:05Z07:00" -}}
{{- $base := dict
"title" .Title
"slug" .Slug
"permalink" .Permalink
"relpermalink" .RelPermalink
"date" (.Date.Format $timeFormat)
"lastmod" (.Lastmod.Format $timeFormat)
"publishdate" (.PublishDate.Format $timeFormat)
"expirydate" (.ExpiryDate.Format $timeFormat)
"draft" .Draft
"summary" .Summary
"description" (.Description | default (.Params.summary | default ""))
"readingtime" .ReadingTime
"wordcount" .WordCount
"type" .Type
"section" .Section
"layout" .Layout
"kind" .Kind
"tags" .Params.tags
"categories" .Params.categories
"series" .Params.series
"keywords" .Params.keywords
"aliases" .Aliases
"toc" .TableOfContents
}}
{{- $params := .Params | default dict -}}
{{- $meta := merge $params $base -}}
{{- transform.Remarshal "yaml" $meta -}}
